/*  GRID OF THREE  */
.span_2_of_2 { width: 95%; }
.span_1_of_2 { width: 47.5%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 768px) {
	.col3 { margin: .75% 0 .75% 0; }
	.span_2_of_2, .span_1_of_2 { width: 100%;}
}